.header {
  margin-top: 35px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    display: flex;
  }

  &__logo {
    cursor: pointer;

    &--title {
      color: #f1cdb3;
      font-family: Georgia, sans-serif;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 1.13px;
      margin-bottom: 5px;
    }

    &--desq {
      color: #fff;
      font-family: Arial, sans-serif;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1.3px;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__nav-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    padding: 2px 3px 8px;
    color: #cdcdcd;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
    white-space: nowrap;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0%;
      width: 0;
      height: 2.5px;
      border-radius: 2px;
      background-color: #f1cdb3;
      transition: width 0.3s ease;
    }

    &:hover {
      color: #fff;
    }

    &:hover:after {
      width: 100%;
    }
  }
}