.section-page {
  position: relative;
  overflow-y: hidden;
  padding: 15px 0;
}

.page {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 750px;
    width: 100%;
    background-image: url("../img/page-bg.webp");
    background-size: cover;
    background-position: 60% center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__group {
    padding-top: 120px;
  }

  &__title {
    max-width: 350px;
    margin-bottom: 20px;
    color: #fff;
    font-family: Georgia, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 2.64px;
  }

  &__text {
    max-width: 460px;
    margin-bottom: 34px;
    color: #cdcdcd;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  &__btn {
    color: white;
    padding: 15px 42px;
    color: #292929;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-weight: 400;
    border-radius: 60px;
    border: 3px solid transparent;
    background: #f1cdb3;
    letter-spacing: 1.02px;
    transition: 0.5s;

    &:hover {
      border: solid 3px #f1cdb3;
      background: #fff;
    }
  }
}

.section-about {
  margin-top: 270px;
  padding: 50px;
}

.about {
  &__row {
    display: flex;
    max-width: 882px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
  }

  &__column {
    flex: 0 1 50%;
    padding-right: 15px;
  }

  &__title {
    margin-bottom: 28px;
    color: #545454;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2.1px;
  }

  &__text {
    color: #4c4c4c;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 24px;
  }
}
