.section-page {
  position: relative;
  overflow-y: hidden;
  padding: 15px 0;
}

.page {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 750px;
    width: 100%;
    background-image: url("../img/page-bg.jpg");
    background-size: cover;
    background-position: 60% center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__group {
    padding-top: 120px;
  }

  &__title {
    max-width: 350px;
    margin-bottom: 20px;
    color: #fff;
    font-family: Georgia, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 2.64px;
  }

  &__text {
    max-width: 460px;
    margin-bottom: 34px;
    color: #cdcdcd;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  &__btn {
    color: white;
    padding: 15px 42px;
    color: #292929;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-weight: 400;
    border-radius: 60px;
    border: 3px solid transparent;
    background: #f1cdb3;
    letter-spacing: 1.02px;
    transition: 0.5s;

    &:hover {
      border: solid 3px #f1cdb3;
      background: #fff;
    }
  }
}

.section-about {
  margin-top: 270px;
  padding: 50px;
}

.about {
  &__row {
    display: flex;
    max-width: 882px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
  }

  &__column {
    flex: 0 1 50%;
    padding-right: 15px;
  }

  &__title {
    margin-bottom: 28px;
    color: #545454;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2.1px;
  }

  &__text {
    color: #4c4c4c;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 24px;
  }
}

.section-pets {
  padding: 70px 0;
  overflow: visible;
  justify-content: center;
  display: flex;
  background-color: #f6f6f6;
}

.pets {
  &__title {
    margin: 0 auto 65px;
    text-align: center;
    max-width: 400px;
    margin-bottom: 28px;
    color: #545454;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2.1px;
  }

  &__row {
    display: flex;
  }

  &__column {
    padding: 0 22px;
    display: flex;
    min-width: 0;
  }

  &__block-link {
    margin-top: 65px;
    text-align: center;
  }

  &__link {
    transition: 0.5s;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0px 48px;
    border: 2px solid transparent;
    border-radius: 34px;
    background-color: #f1cdb3;
    color: #292929;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 1.02px;
    white-space: nowrap;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #f1cdb3;
      z-index: 1;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ddbca4;
      z-index: 2;
      transition: top 0.3s ease;
    }

    &:hover {
      border: 2px solid #f1cdb3;
      background: #fff;
    }
  }
}

.slider {
  min-width: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 9px;
  box-shadow: none;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
  }

  &__main-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__block-img {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__title {
    text-align: center;
    margin: 25px 0 20px;
    flex: 1 1 auto;
    color: #545454;
    font-family: Georgia, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
  }

  &__block-link {
    position: relative;
    text-align: center;
    margin-bottom: 35px;
  }

  &__link {
    border-radius: 26px;
    background-color: #f1cdb3;
    padding: 15px 35px;
    color: #292929;
    font-family: Georgia, sans-serif;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid transparent;
    line-height: 52px;
    letter-spacing: 1.02px;
    transition: 0.5s;
    white-space: nowrap;
    transition: background-color 0.3s ease;

    &:hover {
      border: 2px solid #f1cdb3;
      background-color: #fff;
    }
  }
}

.section-help {
  padding: 70px 0 80px;
  overflow: hidden;
}

.help {
  &__title {
    text-align: center;
    margin: 25px 20px 80px;
    flex: 1 1 auto;
    color: #545454;
    font-family: Georgia, sans-serif;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1.2px;
  }

  &__group {
    display: flex;
    justify-content: center;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px -80px;
  }

  &__column {
    flex: 0 1 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__block-img {
    margin-bottom: 20px;
    flex: 1 1 auto;
  }

  &__text {
    text-align: center;
    color: #545454;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
  }
}

.section-donation {
  width: 100%;
  padding: 70px 0 80px;
  background-color: #f6f6f6;
}

.donation {
  &__row {
    display: flex;
    align-items: flex-end;
    margin: 0 -30px;
  }

  &__column {
    max-width: 100%;
    padding: 0 30px;
    flex: 0 1 50%;
  }

  &__title {
    flex: 1 1 auto;
    color: #545454;
    font-family: Georgia, sans-serif;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1.2px;
  }

  &__block-bank {
    margin: 28px 0;
  }

  &__card-img {
    transform: translateY(20%);
    margin-right: 15px;
  }

  &__bank {
    &-title {
      color: #545454;
      font-family: Georgia, sans-serif;
      font-size: 16px;
      font-weight: 400;
      display: block;
      margin-bottom: 7px;
      letter-spacing: 0.9px;
    }

    &-link {
      margin-top: 20px;
      padding: 11px 15px;
      border-radius: 8px;
      background: #f1cdb3;
      transition: 0.5s;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid #f1cdb3;
        background: #fff;
      }
    }

    &-number {
      color: #292929;
      font-family: "Times New Roman", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 47px;
      letter-spacing: 1.2px;
    }
  }

  &__block-desq {
    max-width: 350px;
  }

  &__desq {
    color: #b2b2b2;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}
